name: Git Checks

on:
  pull_request:

jobs:
  block-fixup:
    name: Block merge with fixup commits
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: 13rac1/block-fixup-merge-action@v2.0.0
